
        <!-- modal -->

        <div id="{{data.id}}" class="modal " style="overflow:auto;">
          <div class="modal-content">
            <i class="modal-close material-icons right">clear</i>
            <h4 *ngIf="!editMode">  添加到 "{{data.users.type.value}}"</h4>
            <h4 *ngIf="editMode">  编辑 "{{data.users.type.value}}"</h4>

            <div class="row">
              <div class="col s12 helper-font-bigger center-align">
                  <span class="helper-border-bottom helper-padding-10">
                    基本信息
                  </span>
              </div>
            </div>

           <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate">
                  <label for="name">姓名:</label>
                </div>


                <form  class="col s12">
                  <div class="helper-margin-top-15" >性别:

                    <a class="helper-inline-block helper-margin-right-20">
                      <input name="gender" type="radio" id="male" />
                      <label for="male">男</label>
                    </a>
                    <a class="helper-inline-block">
                      <input name="gender" type="radio" id="female" />
                      <label for="female">女</label>
                    </a>

                </div>

              </form>

              <div class="input-field col s12">
                <input id="phone" type="text" class="validate">
                <label for="phone">手机:</label>
              </div>


            </div>



            <div class="row">
              <div class="col s12 helper-font-bigger center-align">
                  <span class="helper-border-bottom helper-padding-10">
                    账号信息
                  </span>
              </div>
            </div>

           <div class="row">
                <div class="input-field col s12">
                  <input id="account" type="text" class="validate">
                  <label for="account">账号:</label>
                </div>

                <div class="input-field col s12">
                  <input id="password" type="text" class="validate">
                  <label for="password">密码:</label>
                </div>

                <div class="input-field col s12">
                  <select>
                    <option value="" disabled selected>请选择级别</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                  <label>级别</label>
                </div>


                <div class="input-field col s12">
                  <input id="address" type="text" class="validate">
                  <label for="address">地址:</label>
                </div>

            </div>

          </div>

          <div class="modal-footer">
           <a class=" modal-action modal-close monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
         </div>

          <!-- for the select -->
         <div style="padding-bottom:60px;"></div>
      </div>
