
  .router-link-active.nav-item{
    background-color: #1288C1
  }

  .leftside-navigation {
    background-color: #363b3f;
  }

  .nav-item-container img{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 5px;
  }

  img.home-icon,
  img.gps-icon {
    width: 26px !important;
    height: 26px !important;
    top: 2px;
  }

  img.gps-icon {
    right: 2px;
    margin-right: 7px;
    width: 23px !important;
  }

  .user-info {
    background-color: #2d3236;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    padding: 15px;
  }

  .leftside-navigation .nav-item{
      color:white;
      font-size: 2em;
      height: 60px;
      line-height: 60px;
  }


  @media  screen and (max-width: 992px){
    .side-nav.fixed{
      top: 0;
    }

    .side-nav.fixed{
      font-size: 0.8em !important;
    }
  }
