
  <div class="row  helper-white-bg" style="height:80vh;">

    <!-- <div class="row helper-padding-top-10" *ngIf="authUser.ap == 1"> -->
    <div class="row helper-padding-top-10" >
      <form class=" helper-padding-15" style="width:85%; margin:auto;">
        <div class="row" style="margin-top:10%;">

          <div class="col s6 offset-s3">
            <div class="input-field">
              <i class="material-icons prefix helper-gray">person</i>
              <input id="icon_prefix" type="text" class="validate helper-black" name="username" [(ngModel)]="user.username" disabled>
              <label for="icon_prefix" class="active">账号</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix helper-gray">lock</i>
              <input id="icon_phone" type="password" class="validate helper-black" name="password"  [(ngModel)]="user.password">
              <label for="icon_telephone">密码</label>
            </div>
            <div class="helper-hpadding-25 helper-margin-top-30 center-align">
              <a (click)="login()" class="btn monitor-gray-button waves-effect  waves-light helper-font-bigger" style="width:120px; height:40px; line-height:40px;">进入</a>
            </div>
          </div>

        </div>
      </form>
    </div>

  <!-- <div *ngIf="authUser.ap != 1" class="center-align" >
    <h4 style="padding-top:35vh;">
      授权区
    </h4>

    <span class="center-align">
      您无权限!!!
    </span>
  </div> -->


  </div>
