<div class="row" style="height:100%; width:100%;">
  <div class="col s6 scrollable-container" style="height:70vh;">
    <!-- <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
      目的地
    </span>
    <div class="helper-margin-top-10 helper-margin-bottom-20">
      <span class="helper-font-bigger helper-gray-bg-light helper-padding-5-15">  C002-闸北区大宁路355号XX站</span>
    </div> -->

    <div>
      <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
          目的地
      </span>
      <div class=" helper-margin-bottom-20">
        <div class="input-field helper-white-bg col s12 helper-margin-top-10">
            <!-- <select class="">
              <option value="C002-闸北区大宁路355号XX站" > C002-闸北区大宁路355号XX站 </option>
              <option  value="L002-闸北区大宁路311号XX站"> L002-闸北区大宁路311号XX站 </option>
            </select> -->
          <select class="select-address helper-select-font-bigger">
            <option *ngFor="let plc of connectedPlcs" [value]="plc" > {{plc}} {{plcAddresses[plc]?.addr}}</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div>
      <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
        选择车牌
      </span>
      <div class="helper-margin-bottom-20">
        <div class="input-field helper-white-bg col s12 helper-margin-top-10">
            <select class="helper-select-font-bigger select-license-plate">
              <option value="13472488407"> 沪D75208</option>
              <option value="14721922447"> 沪D24801</option>
              <option value="14721115321"> 沪BS8267</option>
              <option value="18217578247"> 沪DG7386</option>
              <option value="18217578452"> 沪DG7355</option>
              <option value="14721115319"> 沪BR8728</option>
              <option value="18721447205"> 沪BS7773</option>
              <option value="14721114287"> 沪BG9861</option>
              <option value="14721114470"> 沪B84488</option>
              <option value="14721115324"> 沪EH2959</option>
              <option value="13482489401"> 沪BR7101</option>
              <option value="13761974728"> 沪DE1966</option>
              <option value="13681905543"> 沪D37590</option>
              <option value="13774343629"> 沪GK4546</option>
            </select>
            <!-- <label>选在时间</label> -->
          </div>
          <div class="clearfix"></div>
      </div>
    </div>

    <div>
      <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
        选择气种
      </span>
      <div class=" helper-margin-bottom-20">
        <div class="input-field helper-white-bg col s12 helper-margin-top-10">
            <select class="helper-select-font-bigger select-tank-type">
              <option value="CNG" > CNG </option>
              <option  value="LNG"> LNG </option>
              <option  value="小罐"> 集格 </option>
              <option  value="拉回"> 杜瓦瓶 </option>
              <option  value="拉回"> 进场 </option>
              <option  value="拉回"> 拉回 </option>
            </select>
            <!-- <label>选在时间</label> -->
          </div>
          <div class="clearfix"></div>
      </div>
    </div>


      <div>
        <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
          回站加气
        </span>
        <div class=" helper-margin-bottom-20">
          <div class="input-field helper-white-bg col s12 helper-margin-top-10">
              <select class="helper-select-font-bigger return-to-refill">
                <option value="是" > 是 </option>
                <option  value="否"> 否 </option>
              </select>
              <!-- <label>选在时间</label> -->
            </div>
            <div class="clearfix"></div>
        </div>
      </div>


      <div *ngIf="returnToRefill">
        <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
          加气地点
        </span>
        <div class=" helper-margin-bottom-20">
          <div class="input-field helper-white-bg col s12 helper-margin-top-10">
              <select class="helper-select-font-bigger select-refill-station">
                <option value="上海市青浦区白鹤镇鹤祥路18号"  selected> 白鹤</option>
                <option  value="江苏省苏州市相城区东桥旺东村">江苏苏州华峰</option>
                <option  value="安徽省宣城市宣城去天湖工业区裕丰数控模具公司">安徽宣城深燃</option>
                <option  value="安徽省芜湖市镜湖区银湖中路24-3号">安徽芜湖中燃</option>
                <option  value="山东省枣庄市薛城区皱城镇煤化工产业园南区">山东枣薛能</option>
              </select>
              <!-- <label>选在时间</label> -->
            </div>
            <div class="clearfix"></div>
        </div>
      </div>



    <div>
      <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
        选择储罐
      </span>
      <div class=" helper-margin-bottom-20">
        <div class="input-field helper-white-bg col s12 helper-margin-top-10">
            <select class="helper-select-font-bigger select-tank">
              <option value="C6462" > C6462 </option>
              <option  value="J6463"> J6463 </option>
              <option  value="D6464"> D6464 </option>
            </select>
            <!-- <label>选在时间</label> -->
          </div>

          <div class="clearfix"></div>
      </div>

    </div>

    <div>
      <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
        选司机
      </span>
      <div class=" helper-margin-bottom-20">
        <div class="input-field helper-white-bg col s12 helper-margin-top-10">
            <select class="helper-select-font-bigger select-driver">
              <option *ngFor="let d of drivers" [value]="d.an" > {{d.name}} </option>
            </select>
            <!-- <label>选在时间</label> -->
          </div>


        <div class="clearfix"></div>
      </div>
    </div>

    <div>
      <span class="helper-white-bg helper-padding-5-15 helper-font-bigger">
        选押运员
      </span>
      <div class="helper-margin-bottom-20">
        <div class="input-field helper-white-bg col s12 helper-margin-top-10">
            <select class="helper-select-font-bigger select-supercargo">
              <option *ngFor="let de of driverEscorts" [value]="de.an" > {{de.name}} </option>
            </select>
            <!-- <label>选在时间</label> -->
          </div>
          <div class="clearfix"></div>
      </div>
    </div>


        <div class="monitor-tabs helper-padding-left-10 helper-padding-right-10">
            <div class="col s4">
                <a (click)="selectedtab=1; showAllCars();" [class.monitor-tab-selected]="selectedtab==1" class="waves-effect monitor-tab monitor-tab-selected waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align"> 显示全部 </a>
            </div>

            <div class="col s4">
                <a  (click)="selectedtab=2; veConfirmShipment();" [class.monitor-tab-selected]="selectedtab==2"  class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align">
                        确认配送
                 </a>
            </div>
            <div class="col s4">

                <a (click)="selectedtab=3;" [class.monitor-tab-selected]="selectedtab==3" class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align"> 更换车辆 </a>
            </div>
        </div>


  </div>
  <div class="col s6 helper-relative helper-overflow" style="height:77vh; position:relative; top: 20px;">
    <h5 *ngIf="totalCarNumber" style="position:absolute; top:-40px; right:7px;"> 一共 {{totalCarNumber}} 辆</h5>
    <div class="row" id="allmap"  style="margin-right:-50px; display:block;" >
      <!-- <div class="" style="height:100%;width:100%; position:absolute; top:0; left:0; background: rgba(0,0,0,1);">
            <img src="dist/images/ajax-loader-white.gif" alt=""  style="display:block; width:70px; height:70px; margin-top:-35px; margin-left:-35px; position:absolute; top:50%; left:50%;" />
      </div> -->
    </div>
  </div>
</div>
