





  <div class="top-nav helper-padding-bottom-15">
    <a [routerLink]="['HomeAlerts']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:180px;  text-align:center; margin-right:30px;">报警通知</a>
    <a [routerLink]="['HomeProcssedAlerts']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger"  style="display:inline-block; width:180px; text-align:center;">处理与完成</a>
  </div>

<div class="" id="homeMainContainer">
  	<router-outlet></router-outlet>
</div>
