
<div class="">

  <div class="top-nav module-top-nav">
    <a class="module-top-nav-item-wrapper" [routerLink]="['/admin/settings/access']" routerLinkActive="router-link-active">
      <a  class="waves-effect waves-light btn-large top-nav-item helper-font-bigger">访问权限</a>
    </a>
    <a class="module-top-nav-item-wrapper" [routerLink]="['/admin/settings/sms']" routerLinkActive="router-link-active" >
      <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger">短信权限</a>
    </a>
    <a class="module-top-nav-item-wrapper" [routerLink]="['/admin/settings/address']" routerLinkActive="router-link-active" >
        <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" >地址</a>
    </a>
    <a class="module-top-nav-item-wrapper" [routerLink]="['/admin/settings/offline-users']" routerLinkActive="router-link-active" >
      <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger">员工&罐号</a>
    </a>
    <a class="module-top-nav-item-wrapper"  [routerLink]="['/admin/settings/formula']" routerLinkActive="router-link-active">
      <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" >参数公式</a>
    </a>
<!-- 
    <a class="module-top-nav-item-wrapper"  [routerLink]="['/admin/settings/tanks']" routerLinkActive="router-link-active">
      <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" >罐号</a>
    </a> -->
  </div>

  <div class="bottom-container" id="homeMainContainer">
    	<router-outlet></router-outlet>
  </div>

</div>
