
<div class="">

  <div class="top-nav helper-padding-bottom-15">
    <a [routerLink]="['SettingsAccess']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:160px;  text-align:center; margin-right:30px;">访问权限</a>
    <a [routerLink]="['SettingsSms']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:160px;  text-align:center; margin-right:30px;">短信权限</a>
    <a [routerLink]="['SettingsAddress']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:160px;  text-align:center; margin-right:30px;">地址</a>
    <a [routerLink]="['SettingsOfflineUsers']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:160px;  text-align:center; margin-right:30px;">离线员工</a>
    <a [routerLink]="['SettingsFormula']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger"  style="display:inline-block; width:160px; text-align:center;">参数公式</a>
  </div>

  <div class="" id="homeMainContainer">
    	<router-outlet></router-outlet>
  </div>

</div>
