<div class="" style="overflow-x:hidden">
  <div class="row helper-margin-bottom-5 valign-wrapper">
    <div class="col m12  helper-white-bg selectaddressbox" *ngIf="!tankId">
      <div class="input-field" style="padding-right: 10px;">
        <select class="helper-select-font-bigger current-plc">
          <option *ngFor="let a of plcAddresses" [value]="a.tank"> {{a.addr}}</option>
        </select>
          <label >选择地址</label>
      </div>
    </div>
  </div>

  <div class="row helper-vmargin-15" *ngIf="realTimeData && realTimeData[currentPlcTank]">
      <div class="col m7">
        <div class="row modal-nav monitor-tabs">
          <div class="col s3">
              <a (click)="selectedtab=1; detailmodal.selectedtab = selectedtab; showDetailModal('day'); " [class.monitor-tab-selected]="selectedtab==1" class="waves-effect monitor-tab monitor-tab-selected waves-light btn monitor-gray-button  helper-font-bigger helper-display-block center-align"> 日均用量 </a>
          </div>

          <div class="col s3">
              <a (click)="selectedtab=2; detailmodal.selectedtab = selectedtab;  showDetailModal('month'); " [class.monitor-tab-selected]="selectedtab==2"  class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align "> 月均用量</a>
          </div>
          <div class="col s3">

              <a (click)="selectedtab=3; detailmodal.selectedtab = selectedtab; showDetailModal();" [class.monitor-tab-selected]="selectedtab==3" class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align"> 下载数据 </a>
          </div>
          <!-- <div class="col s3">
              <a (click)="selectedtab=4; detailmodal.selectedtab = selectedtab; showDetailModal();" [class.monitor-tab-selected]="selectedtab==4" class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block  center-align"> 在线支付 </a>
          </div> -->
        </div>
      </div>
  </div>

  <div class="divider"></div>

  <div class="scrollable-container" [class.isolated-page]="tankId" style="height:65vh; padding-bottom:100px; padding-top:10px;">
        <div class="helper-margin-bottom-20 valign-wrapper row">
          <div class="col m9">
            <div class=" " *ngIf="realTimeData">
              <!-- <div class="row valign-wrapper helper-white-bg helper-padding-15 helper-font-bigger helper-display-block center-align">
               L001-金山枫湾路777号
              </div> -->

          <!--管网  数据  -->
            <div class="row" *ngIf="realTimeData[currentPlcTank]?.plcType =='Guanwang'">

                <div class="monitor-table  table55-45 helper-font-bigger helper-white-bg">

                  <div class="clearfix"></div>

                  <!-- <div class="table-row">
                    <div class="table-cell"> 使用情况</div>
                    <div class="table-cell"> 正在使用</div>
                  </div> -->

                  <div class="table-row">
                    <div class="table-cell"> 流量表名称</div>
                    <div class="table-cell"> 流量计 {{realTimeData[currentPlcTank]?.addr1}}</div>
                  </div>


                  <div class="table-row">
                    <div class="table-cell">分配地址</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.addr1}}</span></div>
                  </div>

                  <!-- 标况累计 -->
                  <div class="table-row">
                    <div class="table-cell">累计流量(Nm<sup>3</sup>)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.psc1}}</span></div>
                  </div>

                  <!-- 瞬时标况 -->
                  <div class="table-row">
                    <div class="table-cell">瞬时流量(Nm<sup>3</sup>/h)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.isc1}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell">温度(<sup>o</sup>C)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.temp1}}</span></div>
                  </div>


                  <div class="table-row">
                    <div class="table-cell"> 压力(Kpa)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.p1}}</span></div>
                  </div>

                  <div class="clearfix"></div>

                </div>

                <div class="monitor-table table55-45 helper-font-bigger  helper-white-bg helper-margin-top-10">

                  <div class="clearfix"></div>

                  <!-- <div class="table-row">
                    <div class="table-cell"> 使用情况</div>
                    <div class="table-cell"> 正在使用</div>
                  </div> -->

                  <div class="table-row">
                    <div class="table-cell"> 流量表名称</div>
                    <div class="table-cell"> 流量计 {{realTimeData[currentPlcTank]?.addr2}}</div>
                  </div>


                  <div class="table-row">
                    <div class="table-cell">分配地址</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.addr2}}</span></div>
                  </div>

                  <!-- 标况累计 -->
                  <div class="table-row">
                    <div class="table-cell">累计流量(Nm<sup>3</sup>)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.psc2}}</span></div>
                  </div>

                  <!-- 瞬时标况 -->
                  <div class="table-row">
                    <div class="table-cell">瞬时流量(Nm<sup>3</sup>/h)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.isc2}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell">温度(<sup>o</sup>C)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.temp2}}</span></div>
                  </div>


                  <div class="table-row">
                    <div class="table-cell"> 压力(Kpa)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.p2}}</span></div>
                  </div>

                  </div>
                <div class="clearfix"></div>

              </div>



            <!--  CNG 数据 -->

              <div class="row" *ngIf="realTimeData[currentPlcTank]?.plcType=='CNG'">

                <div class="monitor-table  table55-45 helper-font-bigger helper-white-bg" >

                  <div class="clearfix"></div>

            <!-- CNG 3 类型 -->

              <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType == 3">
                <div class="table-cell">剩余时间(H)</div>
                  <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.rft}}</span></div>
              </div>
              <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType == 3">
                <div class="table-cell">剩余量(Nm<sup>3</sup>)</div>
                  <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.rfq}}</span></div>
              </div>

                <div class="table-row " *ngIf="realTimeData[currentPlcTank]?.cngType == 3">
                  <div class="table-cell">累计流量1(Nm<sup>3</sup>)</div>
                    <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.cumfow0}}</span></div>
                </div>

                <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType == 3">
                  <div class="table-cell">瞬时流量1(Nm<sup>3</sup>/h)</div>
                    <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.instfow0}}</span></div>
                </div>

                <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType == 3">
                  <div class="table-cell">累计流量2(Nm<sup>3</sup>)</div>
                    <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.cumfow}}</span></div>
                </div>

                <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType == 3">
                  <div class="table-cell">瞬时流量2(Nm<sup>3</sup>/h)</div>
                    <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.instfow}}</span></div>
                </div>

              <!-- end of CNG 3 类型 -->

                  <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType != 3">
                    <div class="table-cell">累计流量(Nm<sup>3</sup>)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.cumfow}}</span></div>
                  </div>

                  <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType != 3">
                    <div class="table-cell">瞬时流量(Nm<sup>3</sup>/h)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.instfow}}</span></div>
                  </div>



                  <div class="table-row">
                    <div class="table-cell">流量计出口温度(<sup>o</sup>C)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.fmot}}</span></div>
                  </div>


                  <div class="table-row">
                    <div class="table-cell"> 出口压力(Kpa)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.outputP}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell"> 入口压力1(MPa)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.inputP1}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell"> 入口压力2(MPa)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.inputP2}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell"> 一级调压后压力1(Bar)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.paflpa1}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell"> 一级调压后压力2(Bar)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.paflpa2}}</span></div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell"> 一级调压后温度1(<sup>o</sup>C)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.taflpa1}}</span></div>
                  </div>


                  <div class="table-row">
                    <div class="table-cell"> 一级调压后温度2(<sup>o</sup>C)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.taflpa2}}</span></div>
                  </div>



                  <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType==0" >
                    <div class="table-cell"> 一号出口压力(Bar)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.outputP1}}</span></div>
                  </div>

                  <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType==0">
                    <div class="table-cell"> 二号出口压力(Bar)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.outputP2}}</span></div>
                  </div>


                  <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType==2">
                    <div class="table-cell"> 一号换热器温度 (℃)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.hxt1}}</span></div>
                  </div>

                  <div class="table-row" *ngIf="realTimeData[currentPlcTank]?.cngType==2">
                    <div class="table-cell"> 二号换热器温度 (℃)</div>
                      <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.hxt2}}</span></div>
                  </div>


                  <div class="clearfix"></div>

                </div>
              </div>








                <!--  LNG 数据 -->

                  <div class="row" *ngIf="realTimeData[currentPlcTank]?.plcType=='LNG'">

                      <div class="monitor-table  table55-45 helper-font-bigger helper-white-bg" >

                        <div class="clearfix"></div>


                        <div class="table-row">
                          <div class="table-cell">累计流量(Nm<sup>3</sup>)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.cumfow}}</span></div>
                        </div>

                        <div class="table-row">
                          <div class="table-cell">瞬时流量(Nm<sup>3</sup>/h)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.instfow}}</span></div>
                        </div>

                        <div class="table-row">
                          <div class="table-cell">流量计出口温度(<sup>o</sup>C)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.fmot}}</span></div>
                        </div>


                        <div class="table-row">
                          <div class="table-cell"> 出口压力(Kpa)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.outputP}}</span></div>
                        </div>

                        <div class="table-row">
                          <div class="table-cell"> 储罐压力(Bar)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.tankp}}</span></div>
                        </div>

                        <div class="table-row">
                          <div class="table-cell"> 调压区入口压力(Bar)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.azip}}</span></div>
                        </div>

                        <div class="table-row">
                          <div class="table-cell"> 储罐液位(%)</div>
                            <div class="table-cell"> <span>{{realTimeData[currentPlcTank]?.tanklavel}}</span></div>
                        </div>

                        <div class="clearfix"></div>

                      </div>
                    </div>


            </div>

          </div>
          <div class="col s3 valign">
            <!-- <a (click)="veProcessed(alert)" *ngIf="!alert.processed" class="waves-effect  waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a> -->
          </div>

          <!-- modal goes here -->
            <!-- <gas-detail [data]="{id:'detailModal',alert:{name:'C003-闸北区大宁路335号XX站'}}" #detailmodal> </gas-detail> -->

        </div>



        <div class="helper-margin-bottom-20 valign-wrapper row" *ngIf="availableTanks && availableTanks.length && !tankId">
          <div class="col m9">
            <div class="helper-white-bg" style="overflow-x:hidden;">
              <div class="row valign-wrapper helper-padding-15 helper-font-bigger helper-display-block">

                {{availableTanks.length}}个储罐

                <a  class="monitor-gray-button right helper-vpadding-5 helper-hpadding-15" (click)="veToggleSelectAllTanks()">
                  <span *ngIf="!allTankSelected">
                    全选
                  </span>

                  <!-- this.selectedTanks.length -->
                  <span *ngIf="allTankSelected">
                    反选
                  </span>
                </a>
                <a [class.disabled]="!selectedTanks.length" class="monitor-gray-button  right helper-vpadding-5 helper-hpadding-15 helper-margin-right-15" (click)="veReturnSelectedTanks()">拉回</a>
                <a [class.disabled]="!selectedTanks.length" class="monitor-gray-button right helper-vpadding-5 helper-hpadding-15 helper-margin-right-15" (click)="veAddSelectedTanks()">进场</a>
              </div>

              <div class="row  helper-gray-border-light">
                <div class="col s4 helper-font-bigger center-align">
                  现有储罐
                </div>
                <div class="col s8">
                    <div class="monitor-table vstrip helper-font-bigger" style="border-top:hidden; border-bottom:hidden;">
                      <div class="table-row" *ngFor="let tank of availableTanks; let i=index;">
                        <div class="table-cell" style="">
                        <span class="left" style="margin-top:6px;">{{tank.tank}}</span>
                          <a class="right" style="margin-top:8px;"  >
                            <input type="checkbox" class="filled-in non-empty" id="{{tank.tank+i}}" (click)="veToggleSelectTank(tank)"  *ngIf="tank.selected" checked = "checked" />
                            <input type="checkbox" class="filled-in empty" id="{{tank.tank+i}}" (click)="veToggleSelectTank(tank)"  *ngIf="!tank.selected" />
                            <label attr.for="{{tank.tank+i}}"></label>
                          </a>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s3 valign"></div>
        </div>
  </div>
</div>









<!-- feedback modal -->

<div id="moveTanksFeedbackModal" class="modal modal-fixed-footer" style="max-width:400px; height: 200px;">
  <div class="modal-content helper-overflow-hidden" style="height: 150px;">
    <i class="modal-close material-icons right">clear</i>
      <p class="center-align helper-font-bigger" style="padding-top:30px;">
        操作成功， 请到首页查看报警通知。
      </p>
  </div>
  <div class="modal-footer  center-align">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" style="">知道了</a>
  </div>
</div>



<!-- detail modal -->
<div id="gasUsageDetailModal"  style="max-width:1100px;" class="modal  fixed helper-padding-bottom-20">
  <div class="modal-content helper-overflow-hidden">
    <i class="modal-close material-icons right">clear</i>

      <!-- <h4>Modal Header</h4> -->
      <div  *ngIf="currentPlcTank"  class="helper-font-double center-align helper-padding-30">
              {{currentPlcTank}} {{plcAddresses[currentPlcTank]?.addr}}
      </div>

      <gas-details *ngIf="showModal && currentPlcTank" [currentPlcTank]="currentPlcTank" [isShowByDay]="isShowByDay"></gas-details>
  </div>
</div>
