<div class= "helper-relative">
    <div class="helper-padding-10  monitor-tabs herlper-gray-bg-monitor module-sub-top-menu" style="position:absolute;top:0; left:0; width:100%;">
        <a (click)="veSortBy(1);  selectedtab=1;" [class.monitor-tab-selected]="selectedtab==1" class="waves-effect waves-light monitor-tab monitor-gray-button helper-font-bigger" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> 报警短信</a>
        <a (click)="veSortBy(2);  selectedtab=2;" [class.monitor-tab-selected]="selectedtab==2" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">接报短信 </a>
        <a (click)="veSortBy(3);  selectedtab=3;" [class.monitor-tab-selected]="selectedtab==3" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">配送短信</a>
        <a (click)="veSortBy(4);  selectedtab=4;"  [class.monitor-tab-selected]="selectedtab==4" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> 到达短信</a>
    </div>
    <div class="space-sub-nav"></div>


    <!-- toto add a back to top button -->

    <div class="scrollable-container"  style=" height:70vh;">

      <ul class="collapsible row" data-collapsible="accordion">
          <li *ngFor="let userGroup of userArray; let i = index;" class="helper-margin-bottom-15 helper-white-bg ">
            <div *ngIf="(currentSort == userGroup.type.id) || (currentSort == 'all')" class="collapsible-header active"> <span class="left helper-padding-left-15 helper-font-bigger">  {{userGroup.type.value}}</span>  <i class="material-icons right">expand_more</i></div>
            <div *ngIf="(currentSort == userGroup.type.id) || (currentSort == 'all')" class="collapsible-body helper-padding-10">

              <div class="col s12">
                    <a  (click) = "showDetailModal({type:userGroup.type.value});"  class="right helper-font-bigger helper-padding-bottom-10 helper-padding-right-10">  <i class="material-icons helper-font-bigger helper-display-block left helper-margin-right-0">add</i> <i class="helper-display-block helper-margin-left-0 right">添加</i></a>
              </div>
            <div class="helper-margin-bottom-20 valign-wrapper helper-hpadding-15">
                  <div class="monitor-table helper-font-bigger">
                    <div class="table-row  helper-gray-bg-light">
                      <div class="table-cell"> 账号 </div>
                      <div class="table-cell">姓名 </div>
                      <div class="table-cell">地址 </div>
                      <div class="table-cell">手机号码 </div>
                      <div class="table-cell">账号密码  </div>
                      <div class="table-cell">权限  </div>
                    </div>
                    <div class="table-row" *ngFor="let user of userGroup.data">
                      <div class="table-cell"> {{user.an}} </div>
                      <div class="table-cell"> {{user.name}}  </div>
                      <div class="table-cell"> {{user.addr}} </div>
                      <div class="table-cell"> {{user.phone}} </div>
                      <div class="table-cell"> {{user.ap}} </div>
                      <div class="table-cell"> {{user.p}}<a (click) = "showDetailModal({type:userGroup.type.value,user:user});"  class="right"> 编辑</a></div>
                    </div>
                  </div>
              </div>

            </div>
          </li>
          <!-- end of block -->

        </ul>
    </div>



<!-- details modal -->

        <div id="settingsSmsDetailsModal" class="modal " style="overflow:auto;">
          <div class="modal-content">
            <i class="modal-close material-icons right">clear</i>
            <h4 *ngIf="!editMode">  设置捷报短信权限</h4>
            <h4 *ngIf="editMode">  编辑短信权限</h4>


            <div class="row">
              <div class="col s12 helper-font-bigger center-align">
                  <span class="helper-border-bottom helper-padding-10">
                    基本信息
                  </span>
              </div>
            </div>

           <div class="row">

               <div class="input-field col s12">
                 <select class="sms-users-select">
                   <option value="" disabled selected>请选择账号/姓名</option>
                   <option *ngFor="let user of users" [value]="user.an">{{user.an}}/{{user.name}}</option>
                 </select>
                 <label>账号/姓名:</label>
               </div>

<!--
               <div class="input-field col s12">
                 <select>
                   <option value="" disabled selected>请选择身份/等级</option>
                   <option value="1">接警员/2</option>
                   <option value="1">接警员/2</option>
                   <option value="1">接警员/2</option>
                 </select>
                 <label>身份/等级:</label>
               </div> -->

              <div class="input-field col s12">
                <input disabled id="phone" type="text" class="validate"  [value]="editTarget?.phone">
                <label for="phone" style="top:-.5rem">手机:</label>
              </div>
            </div>

            <div class="row helper-vmargin-20">
              <div class="col s12 helper-font-bigger center-align">
                  <span class="helper-border-bottom helper-padding-10">
                    短信权限
                  </span>
              </div>
            </div>

           <div class="row helper-padding-top-20">

             <form action="#">

               <div class="row">
                 <div class="col m3">


                   <h6>
                     <input (click)="veToggleSelectPermission('a')" *ngIf="editTarget?.anc?.a" type="checkbox" class="filled-in" id="filled-in-box11" checked="checked"/>
                     <input (click)="veToggleSelectPermission('a')" *ngIf="!editTarget?.anc?.a" type="checkbox" class="filled-in" id="filled-in-box11" >
                     <label for="filled-in-box11">所有报警短信</label>
                   </h6>
                   <h6>
                     <input (click)="veToggleSelectPermission('iaa')" *ngIf="editTarget?.anc?.iaa"  type="checkbox" class="filled-in iaa" id="filled-in-box12" checked="checked" />
                      <input  (click)="veToggleSelectPermission('iaa')" *ngIf="!editTarget?.anc?.iaa"  type="checkbox" class="filled-in iaa" id="filled-in-box12"/>
                     <label for="filled-in-box12">余量报警</label>
                   </h6>
                   <h6>
                     <input  (click)="veToggleSelectPermission('la')"  *ngIf="editTarget?.anc?.la"  type="checkbox" class="filled-in la" id="filled-in-box13" checked="checked" />
                     <input   (click)="veToggleSelectPermission('la')"  *ngIf="!editTarget?.anc?.la"  type="checkbox" class="filled-in la" id="filled-in-box13" />
                     <label for="filled-in-box13">泄漏报警</label>
                   </h6>
                   <h6>
                     <input  (click)="veToggleSelectPermission('sia')"  *ngIf="editTarget?.anc?.sia" type="checkbox" class="filled-in sia" id="filled-in-box14" checked="checked" />
                     <input  (click)="veToggleSelectPermission('sia')"  *ngIf="!editTarget?.anc?.sia" type="checkbox" class="filled-in sia" id="filled-in-box14" />
                     <label for="filled-in-box14">信号中断</label>
                   </h6>
                 </div>


                 <div class="col m3">


                   <h6>
                     <input (click)="veToggleSelectPermission('ap')"  *ngIf="editTarget?.anc?.ap" type="checkbox" class="filled-in" id="filled-in-box21" checked="checked"/>
                     <input  (click)="veToggleSelectPermission('ap')"  *ngIf="!editTarget?.anc?.ap" type="checkbox" class="filled-in" id="filled-in-box21" >
                     <label for="filled-in-box21">所有接警短信</label>
                   </h6>
                   <h6>
                     <input (click)="veToggleSelectPermission('iaap')" *ngIf="editTarget?.anc?.iaap"  type="checkbox" class="filled-in iaap" id="filled-in-box22" checked="checked" />
                      <input (click)="veToggleSelectPermission('iaap')" *ngIf="!editTarget?.anc?.iaap"  type="checkbox" class="filled-in iaap" id="filled-in-box22"/>
                     <label for="filled-in-box22">余量报警</label>
                   </h6>
                   <h6>
                     <input  (click)="veToggleSelectPermission('lap')" *ngIf="editTarget?.anc?.lap"  type="checkbox" class="filled-in lap" id="filled-in-box23" checked="checked" />
                     <input   (click)="veToggleSelectPermission('lap')" *ngIf="!editTarget?.anc?.lap"  type="checkbox" class="filled-in lap" id="filled-in-box23" />
                     <label for="filled-in-box23">泄漏报警</label>
                   </h6>
                   <h6>
                     <input (click)="veToggleSelectPermission('siap')" *ngIf="editTarget?.anc?.siap" type="checkbox" class="filled-in siap" id="filled-in-box24" checked="checked" />
                     <input  (click)="veToggleSelectPermission('siap')" *ngIf="!editTarget?.anc?.siap" type="checkbox" class="filled-in siap" id="filled-in-box24" />
                     <label for="filled-in-box24">信号中断</label>
                   </h6>
                 </div>

                 <div class="col m3">
                   <h6>
                     <input (click)="veToggleSelectPermission('sa')" *ngIf="editTarget?.anc?.sa"  type="checkbox" class="filled-in" id="filled-in-box31" checked="checked" />
                    <input  (click)="veToggleSelectPermission('sa')" *ngIf="!editTarget?.anc?.sa"  type="checkbox" class="filled-in" id="filled-in-box31" />
                     <label for="filled-in-box31">配送短信</label>
                   </h6>
                 </div>
                 <div class="col m3">
                   <h6>

                     <!-- <input type="checkbox" class="filled-in" id="{{tank.id+i}}" (click)="veToggleSelectTank(tank)"  *ngIf="tank.selected" checked = "checked" />
                     <input type="checkbox" class="filled-in" id="{{tank.id+i}}" (click)="veToggleSelectTank(tank)"  *ngIf="!tank.selected" /> -->
                     <input (click)="veToggleSelectPermission('sca')" *ngIf="editTarget?.anc?.sca"  type="checkbox" class="filled-in" id="filled-in-box41" checked="checked" />
                      <input (click)="veToggleSelectPermission('sca')"  *ngIf="!editTarget?.anc?.sca"  type="checkbox" class="filled-in" id="filled-in-box41" />
                     <label for="filled-in-box41">送达短信</label>
                   </h6>
                 </div>
               </div>

               </form>


            </div>

          </div>

          <div class="modal-footer">
           <a (click)='updateUser()' class=" modal-action modal-close monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
         </div>

      </div>
  </div>
