

<div class="">


  <div class="top-nav module-top-nav">
    <a class="module-top-nav-item-wrapper" [routerLink]="['/admin/monitor/gas-stats']" routerLinkActive="router-link-active" >
      <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" >各站总览</a>
    </a>
    <a class="module-top-nav-item-wrapper" [routerLink]="['/admin/monitor/gas']" routerLinkActive="router-link-active">
      <a  class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" >气种设备</a>
    </a>
    <a class="module-top-nav-item-wrapper"  [routerLink]="['/admin/monitor/camera']" routerLinkActive="router-link-active">
      <a class="waves-effect waves-light btn-large top-nav-item helper-font-bigger">视频监控</a>
    </a>
  </div>

  <div class="bottom-container" id="homeMainContainer" >
    	<router-outlet></router-outlet>
  </div>
</div>
