

<div class="">

  <!-- <video style="width:100%; height:100%; background-color:black;" src="http://vshare.ys7.com:80/openlive/485898349_1_2.m3u8?ticket=dEhOUFl6ZUZZZmU2Mktrd09peFExazlBUUtIYTNORzRTK1c5Mnp1RDJOST0kMSQyMDE3MDMyNTE0MzEyNyQxNDU4ODg3MjU4MDAwJDE0OTA0MjMyNTgwMDAkMCQxNDU4ODg3MjU4MDAwJDE0OTA0MjMyNTgwMDAkMg==" >

  </video> -->


  <video src="http://vshare.ys7.com:80/openlive/566521595_1_2.m3u8?ticket=OE9JNzRyMUptaDJCRmdmcWRmdDI2ODgzaGVaS3hPM2FLOGp5QUhMV3NVaz0kMSQyMDE3MDMyNTE2MjUzNCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMg==" autoplay style="width:100%; height:100%; background-color:white;">
     <!-- <source src="http://vshare.ys7.com:80/openlive/485898349_1_2.m3u8?ticket=dEhOUFl6ZUZZZmU2Mktrd09peFExazlBUUtIYTNORzRTK1c5Mnp1RDJOST0kMSQyMDE3MDMyNTE0MzEyNyQxNDU4ODg3MjU4MDAwJDE0OTA0MjMyNTgwMDAkMCQxNDU4ODg3MjU4MDAwJDE0OTA0MjMyNTgwMDAkMg=="> -->
     <!-- <source src="movie.ogg" type="video/ogg">  -->
       Your browser does not support the video tag.
 </video>
</div>
