

<div class="">


  <div class="top-nav helper-padding-bottom-15 helper-border-bottom">
    <a [routerLink]="['/admin/monitor/gas-stats']" routerLinkActive="router-link-active" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:180px; text-align:center; margin-right:30px; float: left;">各站总览</a>
    <a [routerLink]="['/admin/monitor/gas']" routerLinkActive="router-link-active" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:180px; text-align:center; margin-right:30px; float: left;">气种设备</a>
    <a [routerLink]="['/admin/monitor/camera']" routerLinkActive="router-link-active" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger"  style="display:inline-block; width:180px; text-align:center;">视频监控</a>
  </div>

  <div class="" id="homeMainContainer">
    	<router-outlet></router-outlet>
  </div>

</div>
