<div class="helper-border-top helper-relative">
    <div class="helper-padding-10  monitor-tabs herlper-gray-bg-monitor" style="position:absolute;top:0; left:0; width:100%;">
        <a (click)="veSortBy(1);   selectedtab=1;" [class.monitor-tab-selected]="selectedtab==1" class="waves-effect waves-light monitor-tab monitor-gray-button helper-font-bigger" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> 管理层</a>
        <a  (click)="veSortBy(2);  selectedtab=2;" [class.monitor-tab-selected]="selectedtab==2" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> 监管员 </a>
        <a  (click)="veSortBy(3);  selectedtab=3;" [class.monitor-tab-selected]="selectedtab==3" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">调度员</a>
        <a   (click)="veSortBy(4);  selectedtab=4;"  [class.monitor-tab-selected]="selectedtab==4" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> 客户</a>
    </div>
    <div class="space" style="padding-top:60px;">
    </div>

    <!-- toto add a back to top button -->

    <div class="" style=" height:80vh; overflow-y:auto; overflow-x:hidden;">

      <ul class="collapsible row" data-collapsible="accordion">
          <li *ngFor="let userGroup of userArray; let i = index;" class="helper-margin-bottom-15 helper-white-bg ">
            <div *ngIf="(currentSort == userGroup.type.id) || (currentSort == 'all')" class="collapsible-header active"> <span class="left helper-padding-left-15 helper-font-bigger"> 授权列表 ( {{userGroup.type.value}})</span>  <i class="material-icons right">expand_more</i></div>
            <div *ngIf="(currentSort == userGroup.type.id) || (currentSort == 'all')" class="collapsible-body helper-padding-10">

              <div class="col s12">
                    <a  (click) = "showDetailModal({category:userGroup.type.id});" class="right  helper-font-bigger helper-padding-bottom-10 helper-padding-right-10">  <i class="material-icons helper-font-bigger helper-display-block left helper-margin-right-0">add</i> <i class="helper-display-block helper-margin-left-0 right">添加</i></a>
              </div>
            <div  class="helper-margin-bottom-20 valign-wrapper helper-hpadding-15">
                  <div class="monitor-table helper-font-bigger"  *ngIf="userGroup.data">
                    <div class="table-row  helper-gray-bg-light">
                      <div class="table-cell"> 账号 </div>
                      <div class="table-cell">姓名 </div>
                      <div class="table-cell">地址 </div>
                      <div class="table-cell">手机号码 </div>
                      <div class="table-cell">账号密码  </div>
                      <div class="table-cell">权限  </div>
                    </div>
                    <div class="table-row" *ngFor="let user of userGroup.data">
                      <div class="table-cell"> {{user.an}} </div>
                      <div class="table-cell"> {{user.name}}  </div>
                      <div class="table-cell"> {{user.addr}} </div>
                      <div class="table-cell"> {{user.phone}} </div>
                      <div class="table-cell"> ****** </div>
                      <div class="table-cell"> {{user.ap}} <a  (click) = "showDetailModal({user:user,category:userGroup.type.id});"   class="right"> 编辑</a></div>
                    </div>
                  </div>

              </div>

            </div>
          </li>
          <!-- end of block -->
        </ul>
    </div>

</div>




        <!-- detail modal -->

        <div id="settinsAccessDetailModal" class="modal">
          <div class="modal-content helper-overflow-hidden">
            <i class="modal-close material-icons right">clear</i>
            <h4 *ngIf="!editMode">  添加到 {{userCategory}}</h4>
            <h4 *ngIf="editMode">  编辑 {{userCategory}}</h4>

            <div class="container-fluid" id="addNewUserModal">

                    <div class="row">
                      <div class="col s12 helper-font-bigger center-align">
                          <span class="helper-border-bottom helper-padding-10">
                            基本信息
                          </span>
                      </div>
                    </div>

                   <div class="row">
                        <div class="input-field col s12">
                          <input *ngIf="editTarget" id="name" type="text" class="validate" name="name" [(ngModel)]="editTarget.name">
                          <input *ngIf="!editTarget" id="name" type="text" class="validate"  name="name" required  data-error="必须填" data-success="好" [(ngModel)]="newUser.name" >
                          <label for="name" class="active">姓名:</label>
                        </div>


                        <div  class="col s12">
                          <div class="helper-margin-top-15" >性别:

                            <a class="helper-inline-block helper-margin-right-20">
                              <input *ngIf="!editTarget" name="gender" type="radio" id="male"  (click)="newUser.sex = 0;" />
                              <input *ngIf="editTarget" name="gender" type="radio" id="male" [attr.checked]="editTarget.sex == 0 ? 'checked':null"  (click)="editTarget.sex = 0;" />
                              <label  for="male">男</label>
                            </a>
                            <a class="helper-inline-block">
                              <input *ngIf="!editTarget" name="gender" type="radio" id="female"  (click)="newUser.sex = 1;"  />
                              <input *ngIf="editTarget" name="gender" type="radio" id="female" [attr.checked]="editTarget.sex == 1 ? 'checked':null" (click)="editTarget.sex = 1;"  />
                              <label for="female" class="active">女</label>
                            </a>

                        </div>

                      </div>

                      <div class="input-field col s12">
                        <input *ngIf="editTarget" id="phone" type="text" class="validate" name="phone" [(ngModel)]="editTarget.phone">
                        <input *ngIf="!editTarget" id="phone" type="text" class="validate"  required name="phone" data-error="必须填" data-success="好"  [(ngModel)]="newUser.phone" >
                        <label for="phone" class="active">手机:</label>
                      </div>


                    </div>



                    <div class="row">
                      <div class="col s12 helper-font-bigger center-align">
                          <span class="helper-border-bottom helper-padding-10">
                            账号信息
                          </span>
                      </div>
                    </div>

                   <div class="row">
                        <div *ngIf="editTarget" class="input-field col s12">
                          <input id="account" type="text" class="validate" [value]="editTarget.an" disabled>
                          <label  class="active" for="account">账号:</label>
                        </div>

                        <div class="input-field col s12">
                          <input *ngIf="editTarget" id="password" type="text" class="validate" value="******" disabled>
                          <input *ngIf="!editTarget" id="password" type="text" name="pw" class="validate" [(ngModel)]="newUser.pw" >
                          <label for="password" class="active">密码:</label>
                        </div>

                        <div class="input-field col s12" *ngIf="editTarget" >
                          <select class="privilege">
                            <option value="" disabled >请选择级别</option>
                            <option value="1" [attr.selected]="editTarget?.ap == 1">1</option>
                            <option value="2" [attr.selected]="editTarget?.ap == 2">2</option>
                            <option value="3" [attr.selected]="editTarget?.ap == 3">3</option>
                            <option value="4" [attr.selected]="editTarget?.ap == 4">4</option>
                            <option value="5" [attr.selected]="editTarget?.ap == 5">5</option>
                            <option value="6" [attr.selected]="editTarget?.ap == 6">6</option>
                            <option value="7" [attr.selected]="editTarget?.ap == 7">7</option>
                            <option value="8" [attr.selected]="editTarget?.ap == 8">8</option>
                          </select>
                          <label >级别</label>
                        </div>


                        <div class="input-field col s12">
                          <input  *ngIf="!editTarget"  id="address" type="text" name="addr" class="validate" [(ngModel)]="newUser.addr">
                          <input  *ngIf="editTarget"  id="address" type="text"  name="addr" class="validate" [(ngModel)]="editTarget.addr">
                          <label class="active" for="address">地址:</label>
                        </div>

                    </div>

            </div>


          </div>

          <div class="clearfix"></div>

          <div class="modal-footer">
           <a *ngIf="!editTarget" (click)="addNewUser()" class=" modal-action  monitor-gray-button helper-margin-right-15  helper-font-bigger btn-flat">提交</a>
           <a *ngIf="editTarget" (click)="updateUser()" class=" modal-action  monitor-gray-button helper-margin-right-15  helper-font-bigger btn-flat">提交</a>
         </div>

          <!-- for the select -->
         <div style="height:60px;"></div>
      </div>
