
        <!-- modal -->

        <div id="{{data.id}}" class="modal " style="overflow:auto;">
          <div class="modal-content">
            <i class="modal-close material-icons right">clear</i>
            <h4>  编辑报警参数</h4>


          <div class="input-field col s12" style="margin-top:60px; margin-bottom:50px;">
            <select>
              <option value="" disabled selected>请选择地址</option>
              <option value="1">C002新闸区大宁路335号XX站</option>
              <option value="1">C002新闸区大宁路335号XX站</option>
              <option value="1">C002新闸区大宁路335号XX站</option>
            </select>
            <label>地址</label>
          </div>



            <div class="input-field col s12">
              <select>
                <option value="" disabled selected>请选择余量报警</option>
                <option value="1">15%</option>
                <option value="2">13%</option>
                <option value="3">10%</option>
              </select>
              <label>余量报警</label>
            </div>

          </div>

          <div class="modal-footer">
           <a class=" modal-action modal-close monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
         </div>

          <!-- for the select -->
         <div style="padding-bottom:80px;"></div>
      </div>
