



<div class="helper-padding-10">

  <ul class="collapsible row" data-collapsible="accordion">
      <li class="helper-margin-bottom-15 helper-white-bg ">
        <div class="collapsible-header active"> <span class="left">CNG罐号saf</span>  <i class="material-icons right">expand_more</i></div>
        <div class="collapsible-body helper-padding-10">

              <div class="row helper-margin-bottom-5 valign-wrapper">
                <div class="col s2 m2 ">
                  <div class="input-field">
                      <select class="helper-select-font-bigger" [(ngModel)]="selectedMonth" (change)="veSelected($event, selectedMonth)">
                        <option *ngFor="#m of months; #i = index" [attr.selected]="i == 0" [value]="m">{{m}}</option>
                      </select>
                    </div>
                </div>
                <div class="container valign">
                  <a class="btn right monitor-gray-button helper-font-bigger waves-effect waves-light helper-margin-right-5" style="height:40px;">
                    下载数据
                  </a>
                </div>
              </div>
              <div class="monitor-table helper-font-bigger">
                <div class="table-row helper-gray-bg-dark">
                  <div class="table-cell"> CNG罐号 </div>
                  <div class="table-cell">报警时间  </div>
                  <div class="table-cell">接报时间  </div>
                  <div class="table-cell">接报人 </div>
                  <div class="table-cell">报警类型  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell"> C002-6328 </div>
                  <div class="table-cell">5.2-14:02  </div>
                  <div class="table-cell">5.2-14:33  </div>
                  <div class="table-cell">2320 </div>
                  <div class="table-cell">余量  </div>
                </div>

                <div class="table-row">
                  <div class="table-cell"> C002-6379 </div>
                  <div class="table-cell">5.2-14:02  </div>
                  <div class="table-cell">5.6-11:20  </div>
                  <div class="table-cell">2322 </div>
                  <div class="table-cell">泄漏 </div>

                </div>
              </div>
        </div>
      </li>

        <!-- end of block -->



        <li class="helper-margin-bottom-15 helper-white-bg ">
          <div class="collapsible-header active"> <span class="left">LNG罐号</span>  <i class="material-icons right">expand_more</i></div>
          <div class="collapsible-body helper-padding-10">
            <div class="row helper-margin-bottom-5 valign-wrapper">
              <div class="col s2 m2 ">
                <div class="input-field">
                    <select class="helper-select-font-bigger">
                      <option value="" disabled selected>5月</option>
                      <option  value="1">4月</option>
                      <option  value="2">3月</option>
                    </select>
                    <!-- <label>选在时间</label> -->
                  </div>
              </div>
              <div class="container valign">
                <a class="btn right monitor-gray-button helper-font-bigger waves-effect waves-light helper-margin-right-5" style="height:40px;">
                  下载数据
                </a>
              </div>
            </div>
            <div class="monitor-table helper-font-bigger">
              <div class="table-row helper-gray-bg-dark">
                <div class="table-cell"> LNG罐号 </div>
                <div class="table-cell">报警时间  </div>
                <div class="table-cell">接报时间  </div>
                <div class="table-cell">接报人 </div>
                <div class="table-cell">报警类型  </div>
              </div>
              <div class="table-row">
                <div class="table-cell"> C002-6328 </div>
                <div class="table-cell">5.2-14:02  </div>
                <div class="table-cell">5.2-14:33  </div>
                <div class="table-cell">2320 </div>
                <div class="table-cell">泄漏  </div>
              </div>

              <div class="table-row">
                <div class="table-cell"> C002-6379 </div>
                <div class="table-cell">5.2-14:02  </div>
                <div class="table-cell">5.6-11:20  </div>
                <div class="table-cell">2322 </div>
                <div class="table-cell">信号 </div>

              </div>
            </div>

          </div>
        </li>

          <!-- end of block -->


          <li class="helper-margin-bottom-15 helper-white-bg ">
            <div class="collapsible-header active"><span class="left">官网用户</span>  <i class="material-icons right">expand_more</i></div>
            <div class="collapsible-body helper-padding-10">
              <div class="row helper-margin-bottom-5 valign-wrapper">
                <div class="col s2 m2 ">
                  <div class="input-field">
                      <select class="helper-select-font-bigger">
                        <option value="" disabled selected>5月</option>
                        <option  value="1">4月</option>
                        <option  value="2">3月</option>
                      </select>
                      <!-- <label>选在时间</label> -->
                    </div>
                </div>
                <div class="container valign">
                  <a class="btn right monitor-gray-button helper-font-bigger waves-effect waves-light helper-margin-right-5" style="height:40px;">
                    下载数据
                  </a>
                </div>
              </div>
              <div class="monitor-table helper-font-bigger">
                <div class="table-row helper-gray-bg-dark">
                  <div class="table-cell"> 官网用户 </div>
                  <div class="table-cell">报警时间  </div>
                  <div class="table-cell">接报时间  </div>
                  <div class="table-cell">接报人 </div>
                  <div class="table-cell">报警类型  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell"> C002-6328 </div>
                  <div class="table-cell">5.2-14:02  </div>
                  <div class="table-cell">5.2-14:33  </div>
                  <div class="table-cell">2320 </div>
                  <div class="table-cell">泄漏  </div>
                </div>

                <div class="table-row">
                  <div class="table-cell"> C002-6379 </div>
                  <div class="table-cell">5.2-14:02  </div>
                  <div class="table-cell">5.6-11:20  </div>
                  <div class="table-cell">2322 </div>
                  <div class="table-cell">信号 </div>

                </div>
              </div>

            </div>
          </li>

            <!-- end of block -->

    </ul>


</div>
