
<div class="scrollable-container" style=" height:70vh;">
  <ul class="collapsible row helper-padding-10" data-collapsible="accordion">
      <li class="helper-margin-bottom-15 helper-white-bg " *ngFor="let alert of alertsList;let x = index;">
        <div class="collapsible-header" [class.active]="x == expandedIndex"> <span class="left helper-font-bigger">{{alert.groupName}}</span>  <i class="material-icons right">expand_more</i></div>
        <div class="collapsible-body helper-padding-10">
              <div class="row helper-margin-bottom-5 valign-wrapper">
                <div class="col s2 m2 " >
                  <div class="input-field">
                    <select class="helper-select-font-bigger" [id]="'select-index-' + x" [(ngModel)]="selectedMonth">
                      <option *ngFor="let m of months; let i = index;" [attr.selected]="(i == selectedMonth) ? 'selected': null" [value]="i+1">{{m}}</option>
                    </select>
                  </div>
                </div>
                <div class="container valign">
                  <a (click)="download(alert.data)" class="btn right monitor-inner-button helper-font-bigger waves-effect waves-light helper-margin-right-5 hide-on-small-only" style="height:40px;">
                    下载数据
                  </a>
                </div>
              </div>
              <div class="monitor-table helper-font-bigger">
                <div class="table-row helper-gray-bg-dark">
                  <div class="table-cell"> 罐号 </div>
                  <div class="table-cell">报警时间  </div>
                  <div class="table-cell">接报时间  </div>
                  <div class="table-cell">调度员 </div>
                  <div class="table-cell">报警类型  </div>
                </div>

                <div class="table-row" *ngFor="let data of alert.data">
                  <div class="table-cell"> {{data.tank}} </div>
                  <div class="table-cell">{{data.atime}}  </div>
                  <div class="table-cell">{{data.pt}} </div>
                  <div class="table-cell">{{data.pa}} </div>
                  <div class="table-cell">{{data.atype}}  </div>
                </div>
              </div>
        </div>
      </li>

    </ul>

</div>
