
<div class="scrollable-container" style=" height:70vh;">
  <ul class="collapsible row helper-padding-10" data-collapsible="accordion">
      <li class="helper-margin-bottom-15 helper-white-bg " *ngFor="let alert of alertsList;let x = index;">
        <div class="collapsible-header" [class.active]="x == expandedIndex"> <span class="left helper-font-bigger">{{alert.groupName}}</span>  <i class="material-icons right">expand_more</i></div>
        <div class="collapsible-body helper-padding-10">
              <div class="row helper-margin-bottom-5 valign-wrapper">
                <div class="col s2 m2 " >
                  <div class="input-field">
                    <select class="helper-select-font-bigger" [id]="'select-index-' + x" [(ngModel)]="selectedMonth">
                      <option *ngFor="let m of months; let i = index;" [attr.selected]="(i == selectedMonth) ? 'selected': null" [value]="i+1">{{m}}</option>
                    </select>
                  </div>
                </div>
                <div class="container valign">
                  <a (click)="download(alert.data)" class="btn right monitor-inner-button helper-font-bigger waves-effect waves-light helper-margin-right-5 hide-on-small-only" style="height:40px;">
                    下载数据
                  </a>
                </div>
              </div>
              <div class="monitor-table helper-font-bigger">
                <div class="table-row helper-gray-bg-dark">
                  <div class="table-cell"> 罐号 </div>
                  <div class="table-cell">报警时间  </div>
                  <div class="table-cell">接报时间  </div>
                  <div class="table-cell">调度员 </div>
                  <div class="table-cell">报警类型  </div>
                </div>
                <div class="table-row" *ngFor="let data of alert.data">
                  <div class="table-cell"> {{data.tank}}  <a (click)="showTankMovingModal(data)" *ngIf="data.st && data.st.length">显示全部</a> </div>
                  <div class="table-cell">{{data.atime}}  </div>
                  <div class="table-cell">{{data.pt}} </div>
                  <div class="table-cell">{{data.pa}} </div>
                  <div class="table-cell">{{data.atype}}  </div>
                </div>
              </div>
        </div>
      </li>

    </ul>

</div>




        <!-- return alert modal  -->

        <div id="returnAlertDetailModal" class="modal  fixed helper-padding-bottom-20" style="max-width: 400px; margin-left: auto; margin-right: auto;">
          <div class="modal-content helper-overflow-hidden ">
            <i class="modal-close material-icons right">clear</i>
              <!-- <h4>Modal Header</h4> -->
              <div class="helper-font-double center-align helper-padding-30">
                  {{currentTankMovingAlert.am}}
              </div>
              <div class="helper-vscrolling" style="max-height:50vh;">
                <div class="center-align" *ngFor="let n of currentTankMovingAlert.st">
                    {{n?.ti}}
                </div>
              </div>
            </div>
      </div>
