<div class="helper-border-top helper-relative">
    <div class="helper-padding-10  helper-border-top monitor-tabs herlper-gray-bg-monitor" style="position:absolute;left:0; width:100%;">
        <a  (click)="veSortBy(1);  selectedtab=1;" [class.monitor-tab-selected]="selectedtab==1" class="waves-effect waves-light monitor-tab monitor-gray-button helper-font-bigger" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> CNG</a>
        <a  (click)="veSortBy(2);  selectedtab=2;" [class.monitor-tab-selected]="selectedtab==2" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;"> LNG </a>
        <!-- <a  (click)="veSortBy(3);  selectedtab=3;" [class.monitor-tab-selected]="selectedtab==3" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">小罐</a> -->
        <a  (click)="veSortBy(3);  selectedtab=3;" [class.monitor-tab-selected]="selectedtab==3" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">集格</a>
        <a  (click)="veSortBy(4);  selectedtab=4;" [class.monitor-tab-selected]="selectedtab==4" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">杜瓦瓶</a>
        <a  (click)="veSortBy(5);  selectedtab=5;" [class.monitor-tab-selected]="selectedtab==5" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">管网</a>
        <a  (click)="veSortBy(6);  selectedtab=6;" [class.monitor-tab-selected]="selectedtab==6" class="waves-effect waves-light  monitor-tab monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:140px; height:40px; line-height:40px; margin:auto; text-align:center;">中转站</a>
    </div>
    <!-- padding for tab above -->
    <div class="space" style="padding-top:60px;">
    </div>


    <!-- toto add a back to top button -->

    <div class="" style=" height:80vh; overflow-y:auto; overflow-x:hidden;">

      <ul class="collapsible row" data-collapsible="accordion">
          <li *ngFor="let addressGroup of addressArray; let i = index;" class="helper-margin-bottom-15 helper-white-bg ">
            <div *ngIf="(currentSort == addressGroup.type.id) || (currentSort == 'all')" class="collapsible-header active"> <span class="left helper-padding-left-15 helper-font-bigger"> 地址列表 ( {{addressGroup.type.value}})</span>  <i class="material-icons right">expand_more</i></div>
            <div *ngIf="(currentSort == addressGroup.type.id) || (currentSort == 'all')" class="collapsible-body helper-padding-10">

              <div class="col s12">
                    <a href="{{'#id'+i}}"  (click) = "modal.editMode = false; modal.editTarget = null; "  class="right  modal-trigger helper-font-bigger helper-padding-bottom-10 helper-padding-right-10">  <i class="material-icons helper-font-bigger helper-display-block left helper-margin-right-0">add</i> <i class="helper-display-block helper-margin-left-0 right">添加</i></a>
              </div>
            <div class="helper-margin-bottom-20 valign-wrapper helper-hpadding-15">
                  <div class="monitor-table helper-font-bigger">
                    <div class="table-row  helper-gray-bg-light">
                      <div class="table-cell"> 编号 </div>
                      <div class="table-cell">厂区地址 </div>
                      <div class="table-cell">PLC地址1 </div>
                      <div class="table-cell">PLC地址2 </div>
                    </div>
                    <div class="table-row" *ngFor="let address of addressGroup.data">
                      <div class="table-cell"> {{address.code}} </div>
                      <div class="table-cell"> {{address.addr}} </div>
                      <div class="table-cell"> {{address.plcaddr1}}</div>
                      <div class="table-cell"> {{address.plcaddr2}} <a href="{{'#id'+i}}"   class="right modal-trigger"  (click) = "modal.editMode = true; modal.editTarget = address;" >  编辑</a></div>
                    </div>
                  </div>

                <!-- modal goes here -->
               <!-- <settings-add-address [data]="{id:'id'+i, address:addressGroup}" #modal> </settings-add-address> -->
              </div>

            </div>
          </li>
          <!-- end of block -->

        </ul>

    </div>
