<div class="helper-border-top helper-relative">

    <div class="space" style="padding-top:60px;">
    </div>

    <!-- toto add a back to top button -->

    <div class="" style=" height:80vh; overflow-y:auto; overflow-x:hidden;">


        <div class="helper-padding-bottom-20 helper-hpadding-15 helper-white-bg">
           <div class="col s12 helper-font-bigger helper-vpadding-10">公式列表</div>
          <div class="monitor-table helper-font-bigger">
            <div class="table-row  helper-gray-bg-light">
              <div class="table-cell">地址 </div>
              <div class="table-cell"> 公式 </div>
              <div class="table-cell"> 报警值 </div>

            </div>
            <div class="table-row">
              <div class="table-cell"> C001</div>
              <div class="table-cell"> AxBxD/C </div>
              <div class="table-cell"> 20 <a  (click) = "showDetailModal(arg);" class=" helper-font-bigger helper-padding-right-10 right"> 编辑</a></div>
            </div>
        </div>
  </div>
    </div>


<!-- detail modal -->


      <div  id="settingsFormulaComputeDetailModal" class="modal " style="overflow:auto;">
        <div class="modal-content">
          <i class="modal-close material-icons right">clear</i>
          <h4>  编辑计算公式</h4>

        <div class="row">

            <div class="col m12">

              <div class="input-field  helper-inline-block" style="width:100px;">
                <select>
                  <option value="1">15%</option>
                  <option value="2">13%</option>
                  <option value="3">10%</option>
                </select>
                <label>公式</label>
              </div>

              <div class="  helper-inline-block helper-hpadding-10">
                  x
              </div>

              <div class="input-field  helper-inline-block" style="width:100px;">
                <select>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
              </div>

            </div>

        </div>

        </div>

        <div class="modal-footer">
         <a class=" modal-action modal-close monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
       </div>

        <!-- for the select -->
       <div style="padding-bottom:80px;"></div>
    </div>
