<div class="helper-relative">

    <!-- toto add a back to top button -->

    <div class="scrollable-container" style="height:70vh;">


        <div class="helper-padding-bottom-20 helper-hpadding-15 helper-white-bg">
           <div class="col s12 helper-font-bigger helper-vpadding-10">公式列表</div>
          <div class="monitor-table helper-font-bigger">
            <div class="table-row  helper-gray-bg-light">
              <div class="table-cell">地址 </div>
              <div class="table-cell"> 余量公式 </div>
              <div class="table-cell"> 报警条件 </div>

            </div>
            <div class="table-row" *ngFor="let f of allFormula">
              <div class="table-cell"> {{f.tank}}   {{indexedAddresses[f.tank]?.addr}}</div>
              <div class="table-cell">
                <span *ngIf="f.tankType== 'CNG'">
                    ({{f.cngParam}} / {{f.divisor}}) x {{f.factor}}
                </span>
                <span *ngIf="f.tankType== 'LNG'">
                    无
                </span>

              </div>
              <div class="table-cell">
                <span *ngIf="f.tankType== 'CNG'">
                    剩余时间  < {{f.tt}}小时
                </span>
                <span *ngIf="f.tankType== 'LNG'">
                     {{f.lngParam}}  < {{f.pt}}%
                </span>

                <a  (click) = "showDetailModal(f);" class=" helper-font-bigger helper-padding-right-10 right"> 编辑</a></div>
            </div>
        </div>
  </div>
    </div>


<!-- detail modal -->


      <div  id="settingsFormulaComputeDetailModal" class="modal " style="overflow:auto;">
        <div class="modal-content">
          <i class="modal-close material-icons right">clear</i>
          <h4 class="helper-margin-bottom-30">{{editTarget.tank}} 编辑参数 </h4>
          <div *ngIf="editTarget && editTarget.tankType == 'CNG'" class="helper-margin-bottom-30">

            <div>公式:</div>
            <div class="row">

                <div class="col m12">


                  (<div class="input-field  helper-inline-block center-align" style="width:100px;">
                    <span class="text-right">
                      {{editTarget.cngParam}}
                    </span>
                  </div>

                  <div class="  helper-inline-block helper-hpadding-10">
                      /
                  </div>

                  <div class="input-field  helper-inline-block center-align" style="width:50px;">
                      <input type="number" [(ngModel)]="editTarget.divisor">
                  </div>)
                  x

                  <div class="input-field  helper-inline-block center-align" style="width:50px;">
                    <input type="number" [(ngModel)]="editTarget.factor">
                  </div>

                </div>

            </div>


          </div>


        <div class="helper-margin-bottom-30">报警条件:</div>
        <div class="row" ngIf="editTarget">

          <span *ngIf="editTarget.tankType== 'CNG'">
              剩余时间  <
              <div class="input-field  helper-inline-block center-align" style="width:50px;">
                  <input type="number" [(ngModel)]="editTarget.tt">
              </div>小时
          </span>
          <span *ngIf="editTarget.tankType== 'LNG'">
               {{editTarget.lngParam}}  <
               <div class="input-field  helper-inline-block center-align" style="width:50px;">
                  <input type="number" [(ngModel)]="editTarget.pt">
               </div>
               %
          </span>

        </div>

        </div>

        <div class="modal-footer">
         <a (click)='submitFormula()' class=" modal-action  monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
       </div>
    </div>
