
  <div class="top-nav helper-padding-bottom-15">
    <a [routerLink]="['Shipment']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger" style="display:inline-block; width:180px;  text-align:center; margin-right:30px;">配送列表</a>
    <a [routerLink]="['ShipmentMap',{tank:'manual'}]" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger hide-on-small-only"  style="display:inline-block; width:180px; text-align:center; margin-right:30px;">GPS地图</a>
    <a [routerLink]="['ProcessedShipment']" class="waves-effect waves-light btn-large top-nav-item helper-font-bigger"  style="display:inline-block; width:180px; text-align:center;">处理与完成</a>
  </div>

  <div class="" id="homeMainContainer">
    	<router-outlet></router-outlet>
  </div>
