<div class=" helper-relative" style="background: white;">
    <!-- toto add a back to top button -->
  <div class="scrollable-container"  style="height:70vh;">
  <div class="col s12" style="margin-top:20px;">
    <a  (click) = "showDetailModal();"  class="right helper-font-bigger helper-padding-bottom-10 helper-padding-right-10">  <i class="material-icons helper-font-bigger helper-display-block left helper-margin-right-0">add</i> <i class="helper-display-block helper-margin-left-0 right">添加</i></a>
    <div class="clearfix"></div>
  </div>
   <ul class="row">
      <li class="helper-margin-bottom-15 helper-white-bg ">
        <div class="helper-margin-bottom-20 valign-wrapper helper-hpadding-15">
          <div class="monitor-table helper-font-bigger">
            <div class="table-row  helper-gray-bg-light">
              <div class="table-cell"> 罐号 </div>
              <div class="table-cell"> 地址 </div>
            </div>
            <div class="table-row" *ngFor="let t of tanks" >
              <div class="table-cell"> {{t.tank}} </div>
              <div class="table-cell"> {{t.addr}} <a  class="right " (click) = "showDetailModal(t);"  >  编辑</a></div>
            </div>
          </div>
        </div>
      </li>
      <!-- end of block -->
    </ul>
    <!--padding div -->
   <div  style="height:80px;"></div>
  </div>
</div>

      <!--detail modal -->
    <div id="settinsTanksDetailModal" class="modal " style="overflow:auto;">
      <div class="modal-content">
        <i class="modal-close material-icons right">clear</i>
        <h4 *ngIf="!editMode">  添加罐号</h4>
        <h4 *ngIf="editMode">  编辑罐号</h4>
        <div>

         <div class="col s12 m12 helper-margin-bottom-20">
           <div class="input-field">
             <input type="text" id="addrInput" *ngIf ="editTarget" [(ngModel)]="editTarget.tank">
            <input type="text" id="addrInput" *ngIf ="!editTarget" [(ngModel)]="newTank.tank" >
             <label class="active" for="addrInput">请输入罐号(必填)</label>
           </div>
         </div>

         <div class="col s12 m12 helper-margin-bottom-20">
           <div class="input-field">
             <input type="text" id="addrInput" *ngIf ="editTarget" [(ngModel)]="editTarget.addr">
            <input type="text" id="addrInput" *ngIf ="!editTarget" [(ngModel)]="newTank.addr" >
             <label class="active" for="addrInput">请输地址(可选)</label>
           </div>
         </div>
        </div>
        </div>


        <div class="modal-footer">
         <a *ngIf="!editTarget" (click)="addNew()" class=" modal-action  monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
         <a *ngIf="editTarget" (click)="update()" class=" modal-action monitor-gray-button helper-margin-right-15  helper-font-bigger waves-effect waves-green btn-flat">提交</a>
       </div>
  </div>
