<div class="container" id="loginWrapper">

  <div class="row">
    <div class="col m8 s12">
        <h3 class="center-align">上海万事红智能信息管理系统</h3>
        <h3 class="center-align">顺天（上海）能源技术发展有限公司</h3>
<!--
        <h3 class="center-align">YZ 智能信息管理系统</h3>
        <h3 class="center-align">YZ 智能信息管理系统</h3> -->


        <div class="container">
          <div class="row">
            <div class="col m6">
              <img class="logo" src="dist/images/logo1.jpg" alt="" style="display:block; width:150px;  height:85px;" />
              <h5 class="center-align">
                团结 求实 开拓 高效
              </h5>
              <!-- <h5 class="center-align">
            定制
              </h5> -->
            </div>

            <div class="col m6">
              <img class="logo" src="dist/images/logo2.jpg" alt="" style="display:block;  width:150px;  height:85px;"  />
              <h5 class="center-align">
                团结 求实 开拓 高效
              </h5>
              <!-- <h5 class="center-align">
            定制
              </h5> -->
            </div>
          </div>

        </div>

    </div>

    <div class="col m4  s12 helper-padding-top-30">
      <div class="row helper-padding-top-10">
        <form class="helper-white-bg helper-padding-15" style="width:85%; margin:auto;" id="loginForm">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix helper-gray">person</i>
              <input id="icon_prefix" name="username" type="text" class="helper-black" [(ngModel)]="user.username">
              <label for="icon_prefix">账号/手机号码</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix helper-gray">lock</i>
              <input id="icon_phone" type="password"  name="password"  class="helper-black"  [(ngModel)]="user.password">
              <label for="icon_telephone">密码</label>
            </div>
          </div>
        </form>
      </div>
      <div class="helper-hpadding-25 helper-vpadding-10">
        <a (click)="login()"   class="btn monitor-gray-button btn-dark waves-effect  waves-light helper-font-bigger "   style="width:160px; height:50px; margin:auto; display:block; line-height:50px;">登录</a>
      </div>

    </div>

  </div>


</div>
