<div class="helper-relative">
    <div class="helper-padding-10  herlper-gray-bg-monitor module-sub-top-menu hide-on-small-only" style="position:absolute;top:0; left:0; width:100%;">
        <a (click)="veSortBy('余量报警');   selectedtab=1;" [class.monitor-tab-selected]="selectedtab==1" class="waves-effect waves-light monitor-gray-button helper-font-bigger" style=" width:130px; height:40px; line-height:40px; margin:auto; text-align:center;"> 余量报警  <span  *ngIf="alertGroups && alertGroups['余量报警'] && alertGroups['余量报警'].length " class="new-alert-badge">{{alertGroups['余量报警'].length}}</span></a>
        <a  (click)="veSortBy('压力报警');  selectedtab=2;" [class.monitor-tab-selected]="selectedtab==2"  class="waves-effect waves-light monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:130px; height:40px; line-height:40px; margin:auto; text-align:center;"> 压力报警  <span  *ngIf="alertGroups && alertGroups['压力报警'] && alertGroups['压力报警'].length" class="new-alert-badge">{{alertGroups['压力报警'].length}}</span></a>
        <a   (click)="veSortBy('泄漏报警');  selectedtab=4;" [class.monitor-tab-selected]="selectedtab==4"  class="waves-effect waves-light monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:130px; height:40px; line-height:40px; margin:auto; text-align:center;"> 泄漏报警 <span  *ngIf="alertGroups && alertGroups['泄漏报警'] && alertGroups['泄漏报警'].length" class="new-alert-badge">{{alertGroups['泄漏报警'].length}}</span></a>
        <a   (click)="veSortBy('拉回报警');  selectedtab=5;" [class.monitor-tab-selected]="selectedtab==5"  class="waves-effect waves-light monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:130px; height:40px; line-height:40px; margin:auto; text-align:center;"> 拉回报警 <span  *ngIf="alertGroups && alertGroups['拉回报警'] && alertGroups['拉回报警'].length" class="new-alert-badge">{{alertGroups['拉回报警'].length}}</span></a>
        <a   (click)="veSortBy('进场报警');  selectedtab=6;" [class.monitor-tab-selected]="selectedtab==6"  class="waves-effect waves-light monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:130px; height:40px; line-height:40px; margin:auto; text-align:center;"> 进场报警 <span *ngIf="alertGroups && alertGroups['进场报警'] && alertGroups['进场报警'].length" class="new-alert-badge">{{alertGroups['进场报警'].length}}</span></a>
        <a  (click)="veSortBy('信号中断');  selectedtab=3;" [class.monitor-tab-selected]="selectedtab==3"  class="waves-effect waves-light monitor-gray-button helper-font-bigger helper-margin-left-15" style=" width:130px; height:40px; line-height:40px; margin:auto; text-align:center;"> 信号中断  <span  *ngIf="alertGroups && alertGroups['信号中断'] && alertGroups['信号中断'].length" class="new-alert-badge">{{alertGroups['信号中断'].length}}</span></a>
    </div>

  <div class="space-sub-nav hide-on-small-only"></div>

    <!-- toto add a back to top button -->

  <div class="scrollable-container" style=" height:70vh;">

      <div class="center-align helper-white-bg helper-padding-30" *ngIf="!hasData" style=" height:70vh;">
        无报警
      </div>
        <div *ngFor="let alert of alertsList; let i = index;">
          <div class="helper-margin-bottom-20 valign-wrapper row" *ngIf="(currentSort == alert.atype) || (currentSort == 'all')">
            <div class="col m9">
              <div class="helper-white-bg ">
                <div class="row valign-wrapper helper-padding-5">
                  <div class="col s4 push-s8">
                    <div *ngIf="!alert.status && alert.atype != '拉回报警' && alert.atype != '进场报警'" class="right">
                          <a  (click)="showDetailModal(alert);" class="monitor-gray-button helper-padding-5-30 helper-pointer helper-font-bigger " >查看</a>
                    </div>

                    <div *ngIf="alert.status" class="right helper-font-bigger">
                        已接报
                    </div>

                  </div>
                  <div class="col s8 pull-s4 valign helper-font-bigger helper-padding-left-30">
                    <!-- {{alert.tank}} -->
                    {{alert.tank}}
                    <span *ngIf="plcAddresses">
                     {{plcAddresses[alert.tank]?.addr}}
                   </span>

                  </div>
                </div>

                <div class="monitor-table helper-font-bigger">
                  <!-- <div class="table-row" *ngIf ='(alert.am != "拉回报警") && (alert.atype != "进场报警")' >
                    //////set first collum width on the common field to 40% to keep alignment
                    <div class="table-cell" style="width:40% !important;"> 罐号 </div>
                    <div class="table-cell with-select">

                        <select class="" name="">

                          <option value="6348">J6348</option>
                          <option value="6548">C6548</option>
                          <option value="6898">D6898</option>

                        </select>

                    </div>
                  </div> -->

                  <div class="table-row" *ngIf ='(alert.am != "拉回报警") && (alert.atype != "进场报警")' >
                    <div class="table-cell" [style.padding]="alert.ttank ? '15px' : '0 0 0 15px'"  style="vertical-align:middle"> 罐号 </div>
                    <div class="table-cell"  [style.padding]="alert.ttank ? '15px' : '0 0 0 15px'">
                        <!-- {{alert.tank}} -->
                        <span *ngIf="alert.ttank">{{alert.ttank}}  <i class="material-icons right" style="cursor:pointer; padding:5px;" (click)="veEditTransportableTank(alert)">mode_edit</i></span>
                      <div class="row" *ngIf="!alert.ttank">
                        <div class=" col s8 m8 valign-wrapper">  <input type="text" class="valign" name="ttank" #tttnk [(ngModel)]="ttankNgModel[alert.tank]" value="" style="margin:0; border-bottom:0;padding:5px;" placeholder="请输入罐号"></div>
                        <div class="col s4 m4 valign-wrapper">
                          <a class="monitor-gray-button helper-padding-5-30 helper-pointer helper-font-bigger valign" style=" font-size:1em !important; text-align:center;width: 60px; margin:auto; margin-top:10px; padding: 2px 5px !important; display: inline-block;" (click)="veSetTransportableTank(alert,tttnk.value)">保存</a>
                          <a *ngIf="tmpEditTtank[alert.tank]" class="monitor-gray-button helper-padding-5-30 helper-pointer helper-font-bigger valign" style=" font-size:1em !important; text-align:center;width: 60px; margin:auto; margin-top:10px; padding: 2px 5px !important; display: inline-block;" (click)="veCancelEditTransportableTank(alert)">取消</a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="table-row" *ngIf="alert.atype == '余量报警'">
                      <div class="table-cell"> 余量/压力 </div>
                      <div class="table-cell">
                        {{alert.am}}

                      <div class="monitor-alert" *ngIf="!alert.status">
                          余量报警
                        </div>
                     </div>
                  </div>


                  <div class="table-row" *ngIf="alert.atype == '压力报警'">
                      <div class="table-cell"> 压力/异常 </div>
                      <div class="table-cell">
                        {{alert.am}}
                      <div class="monitor-alert" *ngIf="!alert.status">
                          压力报警
                      </div>
                     </div>
                  </div>

                  <div class="table-row" *ngIf="alert.atype == '信号中断'">
                    <div class="table-cell"> 信号/异常 </div>
                    <div class="table-cell">{{alert.am}}

                      <div class="monitor-alert" *ngIf="!alert.status">
                             信号中断
                      </div>
                    </div>
                  </div>

                  <div class="table-row" *ngIf="alert.atype == '泄漏报警'">
                    <div class="table-cell"> 泄漏/异常 </div>
                    <div class="table-cell">{{alert.am}}

                      <div class="monitor-alert" *ngIf="!alert.status">
                             泄漏报警
                      </div>
                    </div>
                  </div>

                  <div class="table-row" *ngIf="alert.atype == '余量报警'">
                    <div class="table-cell"> 剩余时间 </div>
                    <div class="table-cell">{{alert.rt}} </div>
                  </div>


                  <div class="table-row" *ngIf ='(alert.atype == "拉回报警")|| (alert.atype == "进场报警")'>
                    <div class="table-cell" > 已选罐号 </div>
                    <div class="table-cell">

                      <div style="max-width:75%; position:absolute; left:15px; top:15px; " class="helper-ellipsis">
                          <span *ngFor="let n of alert.st"> {{n.ti}}, </span>
                      </div>

                      <div class="monitor-alert" *ngIf="!alert.status">
                             {{alert.am}}
                      </div>

                      <div class="monitor-alert-action monitor-gray-button" *ngIf="!alert.status">
                        <a  href="{{'let homereturnalert'+i}}" class="modal-trigger">显示全部</a>
                      </div>
                    </div>
                  </div>


                  <!-- <div class="table-row" *ngIf ='(alert.atype == "进场报警")'>
                    <div class="table-cell" > 已选罐号 </div>
                    <div class="table-cell">

                      <div style="max-width:75%; position:absolute; left:15px; top:15px; " class="helper-ellipsis">
                          <span *ngFor="#n of alert.st"> {{n.ti}}, </span>
                      </div>

                      <div class="monitor-alert" *ngIf="!alert.status">
                             进场报警
                      </div>

                      <div class="monitor-alert-action monitor-gray-button" *ngIf="!alert.status">
                        <a  href="{{'#homereturnalert'+i}}" class="modal-trigger">显示全部</a>
                      </div>
                    </div>
                  </div> -->



                 <div class="table-row" *ngIf ='(alert.atype == "拉回报警") || (alert.atype == "进场报警")'>
                    <div class="table-cell"> 拉回数量 </div>
                    <div class="table-cell">
                      {{alert.st.length}} 个
                    </div>
                  </div>

                  <div class="table-row">
                    <div class="table-cell"> 时间/工号 </div>
                    <div class="table-cell">{{alert.atime}} / {{alert.pa}}</div>
                  </div>


                  <div class="clearfix"></div>

                </div>
              </div>

            </div>
            <div class="col m3 valign hide-on-small-only">
              <a (click)="veProcessed(alert)" *ngIf="!alert.status" class="waves-effect  waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a>
            </div>

          </div>
        </div>

        <!-- scroll helper -->
        <div style="height:100px;"></div>
    </div>





    <!-- alert details modal -->

          <div id="alertDetailsModal" class="modal  fixed helper-padding-bottom-20" style="z-index: 99999">
            <div class="modal-content helper-overflow-hidden">
              <i class="modal-close material-icons right">clear</i>

                <!-- <h4>Modal Header</h4> -->
                <div class="helper-font-double center-align helper-padding-30">
                        <!-- L001-金山枫湾路777号 -->
                </div>

                <div class="row modal-nav monitor-tabs">
                  <div class="col s3">
                      <a (click)="showByDay(); detailmodal.selectedtab = 1;  " [class.monitor-tab-selected]="detailmodal.selectedtab==1" class="waves-effect monitor-tab monitor-tab-selected waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align"> 日均用量 </a>
                  </div>

                  <div class="col s3">
                      <a  (click)="showByMonth(); detailmodal.selectedtab = 2;" [class.monitor-tab-selected]="detailmodal.selectedtab==2"  class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align"> 月均用量</a>
                  </div>
                  <div class="col s3">

                      <a (click)="detailmodal.selectedtab = 3; downloadData();" [class.monitor-tab-selected]="detailmodal.selectedtab==3" class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block center-align"> 下载全部 </a>
                  </div>
                  <!-- <div class="col s3">
                      <a (click)="detailmodal.selectedtab = 4;" [class.monitor-tab-selected]="detailmodal.selectedtab==4" class="waves-effect monitor-tab waves-light btn monitor-gray-button helper-font-bigger helper-display-block  center-align"> 在线支付 </a>
                  </div> -->

                  <div class="clearfix"></div>

                </div>

                <div class="row helper-margin-top-15">
                          <hr />
                </div>



              <div *ngIf="detailmodal.selectedtab==1 || detailmodal.selectedtab==2" class="row modal-table helper-margin-top-20 helper-vscrolling" style="height:40vh;">


                    <div class="row">
                      <!-- <img src="dist/images/chart.jpg" alt="" width="100%; height:200px;"> -->

                      <!-- <p class="helper-padding-left-15">瞬时流量 {{date}}</p> -->
                        <!-- <h4 class="helper-padding-left-15">{{date}}</h4> -->
                      <div id="realTimeSigStatus">
                      </div>
                    </div>

                  <div class="row valign-wrapper">
                    <div class="col s3 m3 ">
                      <div class="input-field">
                          <select class="monitor-short-dropdown select-year">
                            <option *ngFor="let item of years; let i = index;" [value]="item">
                              {{item}}年
                            </option>
                          </select>
                          <!-- <label>选在时间</label> -->
                        </div>
                    </div>

                    <div class="col s3 m3 " *ngIf="isShowByDay">
                      <div class="input-field">
                          <select class="monitor-short-dropdown select-month">
                            <option *ngFor="let item of months; let i = index;" [value]="item">
                              {{item}}月
                            </option>
                          </select>
                          <!-- <label>选在时间</label> -->
                        </div>
                    </div>


                    <div class="col s2 m2 ">
                          <a class="btn  monitor-gray-button  waves-effect waves-light helper-margin-right-5" (click)="computeStats();">
                            统计
                          </a>
                    </div>


                    <div class="col s3 m3">
                      <a class="btn right monitor-gray-button  waves-effect waves-light helper-margin-right-5">
                        下载数据
                      </a>
                    </div>
                  </div>


                    <div class="">
                      <div class="monitor-table stripped" *ngIf="isShowByDay">
                        <div class="table-row  helper-gray-bg-light">
                          <div class="table-cell"> 罐号 </div>
                          <div class="table-cell">日期  </div>
                          <div class="table-cell">累计流量 </div>
                          <div class="table-cell">用量  </div>
                        </div>


                        <div class="table-row"  *ngFor="let data of statsData; let i=index;">
                          <div class="table-cell"> L001 </div>
                          <div class="table-cell"> <span *ngIf="realTimeData">{{data.date}}</span></div>
                          <div class="table-cell"> <span *ngIf="realTimeData">{{data.maxVal}}</span> </div>
                          <div class="table-cell">  <span *ngIf="realTimeData">{{data.usage}}</span> </div>
                        </div>
                      </div>

                      <!-- end of table -->


                      <div class="monitor-table stripped" *ngIf="!isShowByDay">
                        <div class="table-row  helper-gray-bg-light">
                          <div class="table-cell"> 罐号 </div>
                          <div class="table-cell">日期  </div>
                          <div class="table-cell">累计流量 </div>
                          <div class="table-cell">用量  </div>
                        </div>


                        <div class="table-row" *ngFor="let data of statsData" >
                          <div class="table-cell"> L001 </div>
                          <div class="table-cell"> <span *ngIf="realTimeData">{{data.date}}</span></div>
                          <div class="table-cell"> <span *ngIf="realTimeData">{{data.maxVal}}</span> </div>
                          <div class="table-cell">  <span *ngIf="realTimeData">{{data.usage}}</span> </div>
                        </div>
                      </div>
                      <!-- end of table -->
                    </div>


                    <!-- padding div -->
                    <div style="height:80px;"></div>
                </div>



                <h4 *ngIf="detailmodal.selectedtab==3"  class="center-align" style="margin:13% 0;">
                  下载所有数据
                </h4>

                <!-- <h4 *ngIf="detailmodal.selectedtab==4" class="center-align" style="margin:13% 0;">
                  在线支付
                </h4> -->



            </div>
        </div>






        <!-- return alert modal  -->

        <div id="returnAlertDetailModal" class="modal  fixed helper-padding-bottom-20">
          <div class="modal-content helper-overflow-hidden ">
            <i class="modal-close material-icons right">clear</i>

              <!-- <h4>Modal Header</h4> -->
              <div class="helper-font-double center-align helper-padding-30">
                    <!-- {{paramTable.alert.name}} -->
                    Alert Name
              </div>

              <div class="helper-vscrolling" style="height:50vh;">

                <div class="center-align" *ngFor="let n of selectedTanks">
                    {{n?.ti}}
                </div>
              </div>

            </div>
      </div>
