<div class="">

      <div class="row valign-wrapper ">
        <div class="col s9">
          <div class="helper-white-bg ">
            <div class="row valign-wrapper">
              <div class="col s4 push-s8">
                <div class=" monitor-alert right">
                        余量报警
                </div>
              </div>
              <div class="col s8 pull-s4 valign helper-font-bigger helper-padding-left-30">
                C002-闸北区大宁路335号XX站
              </div>
            </div>

            <div class="monitor-table helper-font-bigger">
              <div class="table-row">
                <div class="table-cell"> 罐号 </div>
                <div class="table-cell">6848  </div>
              </div>
              <div class="table-row">
                <div class="table-cell"> 余量/压力 </div>
                <div class="table-cell">6%/12kg/hps  </div>
              </div>

              <div class="table-row">
                <div class="table-cell"> 剩余时间 </div>
                <div class="table-cell">2小时02分  </div>
              </div>
              <div class="table-row">
                <div class="table-cell"> 时间/工号 </div>
                <div class="table-cell">15.5.3-13:02/----  </div>
              </div>

              <div class="monitor-arrow-right">

              </div>
            </div>
          </div>

        </div>

        <div class="col s3 valign">
          <a class="waves-effect waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a>
        </div>
      </div>






        <div class="row valign-wrapper">
          <div class="col s9">
            <div class="helper-white-bg helper-margin-top-15">
              <div class="row valign-wrapper">
                <div class="col s4 push-s8">
                  <div class=" monitor-alert right">
                          信号中断
                  </div>
                </div>
                <div class="col s8 pull-s4 valign helper-font-bigger helper-padding-left-30">
                  C002-闸北区大宁路335号XX站
                </div>
              </div>

              <div class="monitor-table helper-font-bigger">
                <div class="table-row">
                  <div class="table-cell"> 罐号 </div>
                  <div class="table-cell">6832  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell"> 信号/异常 </div>
                  <div class="table-cell">信号中断  </div>
                </div>

                <div class="table-row">
                  <div class="table-cell"> 时间/工号 </div>
                  <div class="table-cell">15.5.3-13:02/----  </div>
                </div>

                <div class="monitor-arrow-right">

                </div>
              </div>
            </div>

          </div>

          <div class="col s3 valign">
            <a class="waves-effect waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a>
          </div>
        </div>









        <div class="row valign-wrapper">
          <div class="col s9">
            <div class="helper-white-bg helper-margin-top-15">
              <div class="row valign-wrapper">
                <div class="col s4 push-s8">
                  <div class=" monitor-alert right">
                          信号中断
                  </div>
                </div>
                <div class="col s8 pull-s4 valign helper-font-bigger helper-padding-left-30">
                  C002-闸北区大宁路335号XX站
                </div>
              </div>

              <div class="monitor-table helper-font-bigger">
                <div class="table-row">
                  <div class="table-cell"> 罐号 </div>
                  <div class="table-cell">6832  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell"> 信号/异常 </div>
                  <div class="table-cell">信号中断  </div>
                </div>

                <div class="table-row">
                  <div class="table-cell"> 时间/工号 </div>
                  <div class="table-cell">15.5.3-13:02/----  </div>
                </div>

                <div class="monitor-arrow-right">

                </div>
              </div>
            </div>

          </div>

          <div class="col s3 valign">
            <a class="waves-effect waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a>
          </div>
        </div>













        <div class="row valign-wrapper">
          <div class="col s9">
            <div class="helper-white-bg helper-margin-top-15">
              <div class="row valign-wrapper">
                <div class="col s4 push-s8">
                  <div class=" monitor-alert right">
                          信号中断
                  </div>
                </div>
                <div class="col s8 pull-s4 valign helper-font-bigger helper-padding-left-30">
                  C002-闸北区大宁路335号XX站
                </div>
              </div>

              <div class="monitor-table helper-font-bigger">
                <div class="table-row">
                  <div class="table-cell"> 罐号 </div>
                  <div class="table-cell">6832  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell"> 信号/异常 </div>
                  <div class="table-cell">信号中断  </div>
                </div>

                <div class="table-row">
                  <div class="table-cell"> 时间/工号 </div>
                  <div class="table-cell">15.5.3-13:02/----  </div>
                </div>

                <div class="monitor-arrow-right">

                </div>
              </div>
            </div>

          </div>

          <div class="col s3 valign">
            <a class="waves-effect waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a>
          </div>
        </div>













        <div class="row valign-wrapper">
          <div class="col s9">
            <div class="helper-white-bg helper-margin-top-15">
              <div class="row valign-wrapper">
                <div class="col s4 push-s8">
                  <div class=" monitor-alert right">
                          信号中断
                  </div>
                </div>
                <div class="col s8 pull-s4 valign helper-font-bigger helper-padding-left-30">
                  C002-闸北区大宁路335号XX站
                </div>
              </div>

              <div class="monitor-table helper-font-bigger">
                <div class="table-row">
                  <div class="table-cell"> 罐号 </div>
                  <div class="table-cell">6832  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell"> 信号/异常 </div>
                  <div class="table-cell">信号中断  </div>
                </div>

                <div class="table-row">
                  <div class="table-cell"> 时间/工号 </div>
                  <div class="table-cell">15.5.3-13:02/----  </div>
                </div>

                <div class="monitor-arrow-right">

                </div>
              </div>
            </div>

          </div>

          <div class="col s3 valign">
            <a class="waves-effect waves-light btn-large monitor-gray-button helper-font-double" style="display:block; width:160px; height:80px; margin:auto; text-align:center; line-height:80px;"> 已接报 </a>
          </div>
        </div>





</div>
