<div class="">


<div class="row helper-margin-bottom-10" style="width:810px;">

  <div class="col s7 helper-margin-top-15">
    <span class="helper-font-bigger helper-gray-bg-light helper-padding-5-15 helper-display-block" style="height:60px; line-height:50px;">  C002-闸北区大宁路355号XX站</span>
  </div>
  <div class="input-field helper-white-bg col s5">
      <select class="helper-select-font-bigger">
        <option value="0" disabled >后门2号摄像头</option>
        <option  value="1">后门3号摄像头</option>
        <option  value="2">后门4号摄像头</option>
      </select>
      <!-- <label>选在时间</label> -->
    </div>

    <div class="clearfix"></div>

</div>


<div id="videoContainer" class="hide-on-small-only">
  <object
  pluginspage="http://www.macromedia.com/go/getflashplayer" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="800" height="450" id="video" name="video" align="middle">
  <param name="allowScriptAccess" value="always">
  <param name="allowFullScreen" value="true">
  <param name="quality" value="high"><param name="bgcolor" value="#FFF"><param name="wmode" value="transparent"><param name="movie" value="https://open.ys7.com/assets/ckplayer/ckplayer.swf">
  <param name="flashvars" value="f=https://open.ys7.com/assets/ckplayer/m3u8.swf&amp;a=http://vshare.ys7.com:80/openlive/566521595_1_2.m3u8?ticket=OE9JNzRyMUptaDJCRmdmcWRmdDI2ODgzaGVaS3hPM2FLOGp5QUhMV3NVaz0kMSQyMDE3MDMyNTE2MjUzNCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMg==&amp;c=0&amp;p=1&amp;s=4&amp;lv=1"><embed allowscriptaccess="always" allowfullscreen="true" quality="high" bgcolor="#FFF" wmode="transparent" src="https://open.ys7.com/assets/ckplayer/ckplayer.swf" flashvars="f=https://open.ys7.com/assets/ckplayer/m3u8.swf&amp;a=http://vshare.ys7.com:80/openlive/566521595_1_2.m3u8?ticket=OE9JNzRyMUptaDJCRmdmcWRmdDI2ODgzaGVaS3hPM2FLOGp5QUhMV3NVaz0kMSQyMDE3MDMyNTE2MjUzNCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMg==&amp;c=0&amp;p=1&amp;s=4&amp;lv=1" width="800" height="450" name="video" id="video" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
  </object>
</div>


  <video style="width:100%; height:100%; background-color:black;" class="hide-on-med-and-up" src="http://vshare.ys7.com:80/openlive/485898349_1_2.m3u8?ticket=dEhOUFl6ZUZZZmU2Mktrd09peFExazlBUUtIYTNORzRTK1c5Mnp1RDJOST0kMSQyMDE3MDMyNTE0MzEyNyQxNDU4ODg3MjU4MDAwJDE0OTA0MjMyNTgwMDAkMCQxNDU4ODg3MjU4MDAwJDE0OTA0MjMyNTgwMDAkMg==" >

  </video>
  <!-- <video style="width:500px; height:500px;"
  src="http://vshare.ys7.com:80/openlive/566521595_1_2.m3u8?ticket=OE9JNzRyMUptaDJCRmdmcWRmdDI2ODgzaGVaS3hPM2FLOGp5QUhMV3NVaz0kMSQyMDE3MDMyNTE2MjUzNCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMCQxNDU4ODk0MTQ5MDAwJDE0OTA0MzAxNDkwMDAkMg==" >

  </video> -->



</div>
